<!-- Row 1 placeholder icons -->
	<h3 class="cheeseTitle"> France </h3>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>

<br>
<!-- Row 2 placeholder icons -->
	<h3 class="cheeseTitle"> Spain </h3>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>

<br>
<!-- Row 3 placeholder icons -->
	<h3 class="cheeseTitle"> Netherlands </h3>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>

<br>
<!-- Row 4 placeholder icons -->
	<h3 class="cheeseTitle"> United States of America </h3>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>

<br>
<!-- Row 5 placeholder icons -->
	<h3 class="cheeseTitle"> Germany </h3>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>

<br>
<!-- Row 6 placeholder icons -->
	<h3 class="cheeseTitle"> Greece </h3>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>

<br>
<!-- Row 7 placeholder icons -->
	<h3 class="cheeseTitle"> Italy </h3>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>

<br>
<!-- Row 8 placeholder icons -->
	<h3 class="cheeseTitle"> South America </h3>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>

<br>
<!-- Row 9 placeholder icons -->
	<h3 class="cheeseTitle"> England </h3>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>

<br>
<!-- Row 10 placeholder icons -->
	<h3 class="cheeseTitle"> Ireland </h3>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>

<br>
<!-- Row 11 placeholder icons -->
	<h3 class="cheeseTitle"> Australia </h3>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>

<br>
<!-- Row 12 placeholder icons -->
	<h3 class="cheeseTitle"> New Zealand </h3>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>

<br><br><br>