<div class="example">
	<%= image_tag("portsalut.jpg", :alt => "Port Salut image", :class => "portSalutImg") %>

	<div class="exampleTextContent">
		<b><h4> Name: </h4></b> <p> Port Salut</p>

		<b> <h4>Country of Origin: </h4></b><p> France</p>

		<b><h4> Type:</h4> </b><p> Semi-Soft</p>

		<b> <h4>Texture:</h4> </b> <p> Soft and creamy</p>

		<b> <h4>Color:</h4> </b> <p> Bright orange rind with a pale yellow center</p>

		<br>
		<b> <h4>Short Description:</h4> </b> <p> S.A.F.R Port Salut is a smooth, delectable cheese. Polished with brine, it adds a rich flavor, resulting in an exquisite cheese with an orange rind and a pale-yellow interior. It will still have a relatively mild flavor—savory and slightly sweet. The smell will increase the longer the cheese is kept but, again, the smell doesn’t affect its flavor. </p>
		<br>


		<b> <h4>Pairings: </h4></b> <p> The cheese pairs beautifully with Chinon and Bourgueil wines.</p>
		<br>
	</div>
	<%= link_to 'Back', cheeses_path %>
</div>