<!-- Row 1 placeholder icons -->
	<h3 class="cheeseTitle" onclick="toggle_visibility('asiago');"> Asiago </h3>
		<div class="collapsedContent" id="asiago" style="display:none;">
			<div class="cheesePlaceholder" ></div>
			<div class="cheesePlaceholder"></div>
			<div class="cheesePlaceholder"></div>
			<div class="cheesePlaceholder"></div>
			<div class="cheesePlaceholder"></div>
			<div class="cheesePlaceholder"></div>
		</div>
<br>
<!-- Row 2 placeholder icons -->
	<h3 class="cheeseTitle" onclick="toggle_visibility('blue');"> Blue</h3>
		<div class="collapsedContent" id="blue" style="display:none;">
			<div class="cheesePlaceholder"></div>
			<div class="cheesePlaceholder"></div>
			<div class="cheesePlaceholder"></div>
			<div class="cheesePlaceholder"></div>
			<div class="cheesePlaceholder"></div>
			<div class="cheesePlaceholder"></div>
		</div>
<br>
<!-- Row 3 placeholder icons -->
	<h3 class="cheeseTitle" onclick="toggle_visibility('brebis');"> Brebis</h3>
		<div class="collapsedContent" id="brebis" style="display:none;">
			<div class="cheesePlaceholder"></div>
			<div class="cheesePlaceholder"></div>
			<div class="cheesePlaceholder"></div>
			<div class="cheesePlaceholder"></div>
			<div class="cheesePlaceholder"></div>
			<div class="cheesePlaceholder"></div>
		</div>


<br><br><br><br>