<!-- Row 1 placeholder icons -->
	<h3 class="cheeseTitle"> Asiago </h3>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
<br>
<!-- Row 2 placeholder icons -->
	<h3 class="cheeseTitle"> Blue </h3>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
<br>
<!-- Row 3 placeholder icons -->
	<h3 class="cheeseTitle"> Brebis </h3>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>
		<div class="cheesePlaceholder"></div>


<br><br><br><br>