<p class="aboutContent"> Made by Courtney Regensburger, Curd Heard aims to be a comprehensive site for cheese. Find your favorites or something new. Though currently small, this project will (eventually) be a fully functional site where users can search according to a selection of parameters including: type, texture, country of origin, age, raw, vegetarian friendly, and color. It will provide listings and sorting functionality. Users will also be able to sign-up, allowing them to favorite cheeses, give ratings and comments, locate stores near them that carry a specified cheese (if available), find pairings and quick link to recipes. 
<p class="aboutContent"> If you would like to learn more, please contact me at: courtneyregensburger@yahoo.com</p>
<br><br>
<%= image_tag("cheesePlatter2.jpg", :alt => "cheese platter picture", :class => "aboutCurdHeard") %>
<br><br><br><br>