/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Header Styling */
	.headerImage {
		width: 100%;
		z-index: 2;
		padding: 0;
	}

	.col-md-12 {
		padding: 0;
	}

	/* Header Text */
	#nameTitle {
		background-color:rgba(43, 20, 14, 1);
		color: #DAD4B4;
		text-align: center;
		margin-top: 0;
	}

	#heading {
		padding: 0;
	}

/* Nav bar and Search bar */
	.theBar {
		z-index: 3;
		padding-top: .5em;
		padding-left: 30%;
	}


/* Main Body Styling */
	#bodyContent {
		padding-top: 3em;
		padding-left: 3em;
	}

	body {
		background: #DAD4B4;
		color: #301A0F;

	}
