/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Header Styling */
	.headerImage {
		width: 100%;
		z-index: 2;
		padding: 0;
	}

	.col-md-12 {
		padding: 0;
	}

	/* Header Text */
	#nameTitle {
		background-color:rgba(43, 20, 14, 1);
		color: #DAD4B4;
		text-align: center;
		margin-top: 0;
	}

	#heading {
		padding: 0;
	}

/* Nav bar and Search bar */
	.theBar {
		z-index: 3;
		padding-top: .5em;
		padding-left: 35%;
	}


/* Main Body Styling */
	#bodyContent {
		padding-top: 3em;
		padding-left: 3em;
		padding-right: 3em;
	}

	body {
		background: #DAD4B4;
		color: #301A0F;

	}

	/* about page image */
		.aboutCurdHeard {
			height: 15em;
			width: 25em;
			position: relative;
			left: 37%;
		}

		.aboutContent {
			text-align: center;
		}

	/* index placeholder images */
	.cheesePlaceholder {
		background-color: orange;
		border: 4px solid #2B1401;
		border-radius: 1em;
		display: inline-block;
		margin: .1em;
		position: relative;
		left: 20%;
		height: 10em;
		width: 10em;
		
	}

	.cheeseTitle {
		color: white;
		background-color: #2B1401;
		padding-left: 13%;
	}

	/* Cheese Example, Port Salut */
	.portSalutImg {
		height: 20em;
		width: 20em;
		border: 4px solid #2B1401;
		border-radius: 1em;
		float: left;
	}

	.exampleTextContent{
		padding-left: 22em;
		padding-right: 10em;
	}

	.example {
		float: left;
		padding-bottom: 5em;
	}
