<div class="col-md-12">
	<%= image_tag("cheesePlatter.jpg", :alt => "rss feed", :class => "headerImage") %>
</div>

<h1 id="nameTitle">Curd Heard</h1>

<div class="theBar">
	<a href="/" type="button" class="btn btn-default">Home</a>
	<a href="/about"  type="button" class="btn btn-default">About Us</a>
	<a href="/contact"  type="button" class="btn btn-default">Contact Us</a>
	<a href="/cheeses"  type="button" class="btn btn-default"> All Cheese </a>
	<a href="/cheeses/new"  type="button" class="btn btn-default">Add Cheese</a>
	<a href=""  type="button" class="btn btn-default">Search</a>
	<a href=""  type="button" class="btn btn-default">Surprise Me</a>
</div>