<div class="col-md-12">
	<%= image_tag("cheesePlatter.jpg", :alt => "rss feed", :class => "headerImage") %>
</div>

<h1 id="nameTitle">Curd Heard</h1>

<div class="navbar">
	<div class="containerNav">
		<button class="btn btn-default">Home</button>
		<button class="btn btn-default">About Us</button>
		<button class="btn btn-default">Contact Us</button>
		<button class="btn btn-default">Register</button>
		<button class="btn btn-default">Login</button>
		<button class="btn btn-default">Search</button>
		<button class="btn btn-default">Surprise Me</button>
	</div>
</div>
